.logo{
    padding-top: 30px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 50%;
    height: auto;
}


.jumbotron {
    padding-bottom: 50px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron img {
    width: 100%;
    height: auto;
}